/*
 * Stylesheet for the 2 Cars page
 */

@font-face {
    font-family: penultimate;
    src: url(../fonts/Existence-UnicaseLight.otf);
}
body {
    margin: 0;
    padding: 0;
}
#myCanvas {
    display: block;
}
#score {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 70px;
    font-family: penultimate, sans-serif;
    color: #fffefd;
}
#time {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 70px;
    font-family: penultimate, sans-serif;
    color: #fffefd;
}

#final
{
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    color: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    display: none;
}

#last
{
    width:700px;
    font-size: 150px;
    margin:0 auto;
    margin-top: 30px;
    font-family: penultimate;

}

#scores
{
   width:300px;
    font-size: 40px;
    margin:0 auto;
    text-align: center;
    margin-top: 20px;
    font-family: penultimate;

}

#replay
{
    display: block;
    width:150px;
    height:150px;
    margin:0 auto;
    margin-top: 45px;
    border-width: 10px;
    border-radius: 50%;
    border-style: solid;
    padding: 20px;

}


#initial
{
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    color: #FFF;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    display: none;
}

#first
{
    width:450px;
    font-size: 160px;
    margin:0 auto;
    margin-top: 30px;
    font-family: penultimate;

}

#howto
{
    width:800px;
    font-size: 40px;
    margin:0 auto;
    text-align: center;
    margin-top: 50px;
    font-family: penultimate;

}

#start
{
    display: block;
    width:190px;
    height:190px;
    margin:0 auto;
    margin-top: 45px;

}
